<!DOCTYPE html >
<html lang="fr">

 <head style="background-color:#93BBEE"> 
      {% block title %}
      <title> FAQ </title>
      {% endblock %}
      <meta charset="utf-8">
      <meta name="viewport"
      content="width=device-width ,
      initial-scale=1">
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   {% block menu %}
      <!-- On ajoute une image depuis les static -->
      {% load static %} 
      <img src="{% static 'computerapp/images/rtdev.png' %}"
      alt="logo" style="background-color:#93BBEE;width:500px;height:200px;position:relative;left: 550px">
         {% block sidebar %} 
            
            
            <ul class="nav justify-content-center">
  <li class="nav-item">

    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'machines' %}">Machines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'persos' %}">Personnel</a>
  </li>
  <li class="nav-item">
   <a class="nav-link" href="{% url 'contact' %}">Contact</a>
 </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'infos' %}">A propos</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" href="/admin">Administration</a>
   </li>
   </ul>
 {% endblock %} 
 {% endblock %} 

   </head >
   <body style="background-color:#93BBEE">
<u>R&T Development répond à vos questions sur notre entreprise et nos activités!</u><br>
<br>
<b>Quel est le secteur d'activité de R&T Development?</b><br>
Notre secteur d'activité se concentre sur la prestation de services dans le réseau embarqué pour le spatial, comme expliqué dans notre présentation!<br>
<br>
<b>Combien d'employés avez-vous?</b><br>
Nous avons actuellement une vingtaine d'employés dans notre PME.<br>
<br>
<b>Quand a été créé R&T Development?</b><br>
R&T Development a été lancé en 2014, face à notre incompréhension vis à vis du manque de prestations disponibles dans le réseau.<br>
<br>
<b>Comment prenez-vous en charge les demandes des clients?</b><br>
Les entreprises qui veulent travailler avec nous s'adressent directement via notre mail disponible sur notre site, ou viennent simplement à notre QG, situé à Chatellerault.<br>
<br>
<b>Qui a créé R&T Development?</b><br>
Toute une équipe de professionnels se sont réunis afin de créer R&T Development. C'est un travail de groupe acharné qui nous permet aujourd'hui de fournir un service de qualité.<br>
<br>
<b>Quels sont les services à disposition des employés R&T Development?</b><br>
Chez R&T Development, chaque employé bénéficie d'un self pris en charge par l'entreprise, d'un véhicule aux couleurs de l'entreprise et de bons de réduction à dépenser chez plusieurs entreprises partenaires.<br>
<br>



    
