{% extends "index.html" %}

{% block title %}
<title> Liste des Machines </title>
{% endblock %}

{% block content %} 
   <h1>Liste des machines</h1>
   

   {% if machines %} 
   <ul>
     {% for machine in machines %}
      <li>
         <a href="{% url 'machine-detail' machine.id %}">
         {{ machine.id }} ({{machine.nom}})
      </li>
    {% endfor %}  
   </ul>
 
   
   <li><a href="{% url 'add-machine' %}">Ajouter une machine2</a></li>
   
   

   {% else %} 
      <p>Il n'y a pas de machine.</p>
   {% endif %} 
{% endblock %} 