{% extends "index.html" %}

{% block title %}
<title> Liste du Personnel </title>
{% endblock %}

{% block content %} 
   <h1>Liste du personnel:</h1>
   {% if persos %} 
   <ul>
     {% for Personne in persos  %}
     <div class="list-group" >
      <a href="{% url 'persos-detail' Personne.num_secu %}" class="list-group-item list-group-item-action" style="background-color:#57f8d8" > {{machine.nom}}</br> ({{Personne.nom}}) {{Personne.prenom}}</a>
     </br>
     
    {% endfor %} 
   </ul>
   <li><a href="/admin/computerApp/personnel">Ajouter un personnel</a></li>
   {% else %} 
      <p>Il n'y a pas de Personnel.</p>
   {% endif %} 
{% endblock %} 