<!DOCTYPE html >
<html lang="fr">

 <head> 
      {% block title %}
      <title> ACCUEIL </title>
      {% endblock %}
      <meta charset="utf-8">
      <meta name="viewport"
      content="width=device-width ,
      initial-scale=1">
      <!-- On ajoute un fichier CSS depuis les static -->
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

   </head >
   <body style="background-color:#93BBEE">
      
      {% block menu %}
      <!-- On ajoute une image depuis les static -->
      {% load static %} 
      <img src="{% static 'computerapp/images/rtdev.png' %}"
      alt="logo" style="background-color:#93BBEE;width:500px;height:200px;position:relative;left: 550px">
         {% block sidebar %} 
            
            
            <ul class="nav justify-content-center">
  <li class="nav-item">

    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'machines' %}">Machines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'persos' %}">Personnel</a>
  </li>
 
</ul>
         {% endblock %} 
      {% endblock %}
         
      {% block content %}
      Bienvenue sur le site de R&T Development. Nous sommes une PME d'une vingtaine d'employés dont le coeur de métier est la prestation de services dans le réseau embarqué pour le spatial.</br>
      Ici, vous pourrez administrer(visualiser, ajouter, supprimer) facilement les machines et les infrastructures de l'entreprise.</br>
      Vous pourrez également connaître le propriétaire de la machine, mais aussi savoir quelles mises à jour ont été effectuées.</br> 
      Vous pouvez dès à présent prendre en main le site via le menu en haut de la page.
      {% endblock %}
      
      
   </body >
</html >